.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

a {
  color: $secondary !important;
}

.posts > .post {
  padding-bottom: 1rem;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

h2 {
  border-bottom: 1px solid grey;
}